<div class="flex mx-auto h-screen w-auto justify-center items-center">
  <div>
    <h1 class="text-3xl font-bold">{{title}}</h1>
    <h1 class="text-3xl font-semibold">Counter App</h1>
    <h4 class="text-2xl text-center">{{counter}}</h4>
    <div class="flex justify-around gap-4">
      <button class="round bg-green-200 p-2 w-1/2" (click)="increment()">+</button>
      <button class="round bg-red-200 p-2 w-1/2" (click)="decrement()">-</button>
    </div>
    <button class="round bg-gray-200 p-2 w-full mt-2" (click)="reset()">reset</button>
  </div>
</div>
